#techboss-logo{
  color:#154F97;
}
#techboss-logo:hover{
  color:#13DAEC;
}
#techboss-logo img{
  position:relative;
  bottom:-2px;
  left:15px;
}
#techboss-logo span{
  letter-spacing: 0.02em;
}
#header{
  font-size:30px;padding:2px;
}
#start-over{
  float:right;
  padding-right:15px;
  padding-top:22px;
  display:none;
}
#start-over.visible{
  display:inline;
}
