#techboss-logo img{
  position:relative;
  bottom:-2px;
  left:15px;
}
#techboss-logo span{
  letter-spacing: 0.02em;
}
#header{
  font-size:30px;padding:2px;
}
#start-over{
  float:right;
  padding-right:15px;
  padding-top:22px;
  display:none;
}
#start-over.visible{
  display:inline;
}

body { background-color: #002b36;}

.reveal a:not(.image) {
  color: #2aa198;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #657b83;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #268bd2; }

/*$base03:    #002b36;*/
/*$base02:    #073642;*/
/*$base01:    #586e75;*/
/*$base00:    #657b83;*/
/*$base0:     #839496;*/
/*$base1:     #93a1a1;*/
/*$base2:     #eee8d5;*/
/*$base3:     #fdf6e3;*/
/*$yellow:    #b58900;*/
/*$orange:    #cb4b16;*/
/*$red:       #dc322f;*/
/*$magenta:   #d33682;*/
/*$violet:    #6c71c4;*/
/*$blue:      #268bd2;*/
/*$cyan:      #2aa198;*/
/*$green:     #859900;*/
